h1 {
    
    color: black;
}
body{ 
    background-color: rgb(0, 132, 255);
    font-family: 'Roboto' , sans-serif;

}

.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;

    padding: 10px;
}

h4{
    text-align: left;
}
form{
    width: auto;
}
form label {
    display: flex;
    margin-top: 20px; 
    font-size: 18px;
}
form input {
    margin-left: 30px;
    padding: 7px;
    border: none;
    border: 1px solid gray
}

.Title{
    text-align: center;
    color: white;
    padding-top: 15px;
}

.user_name{
    display: block;
    margin: 10px;

}