body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    background: rgb(0, 0, 0);
    background-image: url('https://images.unsplash.com/photo-1554147090-e1221a04a025?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2648&q=80');
    font-size: 120%;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.topbar{
    /* justify-content: center;
    align-items: center; */
    width: auto;
    border: none;
      
}

.searchbar{
    background-position: 10px 10px; 
    background-color: transparent;
    background-image: url(currentColor);
    border: none;
    border-bottom: solid;
}
.people{
    padding: 14px 20px;
    margin: 8px 0;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    display: grid;
}

.col-25{
    padding: 14px 20px;
    margin: 8px 0;
    position: absolute;
    top: 80px; 

}

